.facility-page {
  padding: 120px 80px;
}

.facility-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 32px;

  margin-bottom: 80px;
}

.facility-grid img {
  width: 100%;
  height: 420px;

  object-fit: cover;

  border-radius: 28px;
}

.facility-desc {
  text-align: center;
}

.facility-desc h2 {
  font-size: 56px;

  margin-bottom: 24px;
}

.facility-desc p {
  color: #666;

  line-height: 1.8;
}